<div class="row">
    <div class="col-8"  >
        
        <img  src="" style="margin-left: 50%;" >
        <h5>Informations</h5>
        <ol class="list-group col-9" >
            <li class="list-group-item" > <strong>Nom: </strong> </li>
            <li class="list-group-item" ><strong>Capital:</strong> </li>
            <li class="list-group-item"  ><strong>Region: </strong> </li>
            <li class="list-group-item" ><strong>Population: </strong> </li>
            <li class="list-group-item"  ><strong>Area: </strong> </li>
            <li class="list-group-item" ><strong>Language: </strong> </li>
        </ol>
    </div>
</div>